@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800,900&display=swap');
body {
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}
.container-chronology-text .order-bx p{
    font-size: 16px;
}
.container-chronology-text .order-bx p{
    font-size: 16px;
}
.container-chronology-text .order-bx .circle{
    padding: 10px;
    background-color: #ffffff;
}
.container-chronology-text .order-bx .info-order-bx{
    border-radius: 10px 0 0 10px;
}
.container-chronology-text .order-bx .data-order-bx{
    border-radius: 0 40px 40px 0;
}
.container-chronology-text .icon-bx .icon{
    font-size: 75px;
}
.container-chronology-text .content p{
    font-size: 17px;
}
.container-chronology-text{
    border-radius: 10px;
}
.img-metodPayment img{
    width: 140px;
}
.bg-brandLight{
    background-color: rgba(161, 232, 204, 0.35);
}
.oper-btn {
    padding: 0 9px 0 9px;
    border-radius: 50px;
    border: none;
    background-color: rgba(55, 59, 62, 0.3);
}
.number-form-input{
    width: 30px;
    background-color: rgba(55, 59, 62, 0.7);
    color: #FCC018;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin: 0 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number-form-input:hover {
    text-decoration: none;
}
.col-cart-prd .img img{
    float: left;
    border: none;
    border-radius: 0;
    width:  245px;
    height: 150px;
    object-fit: cover;
}
.text-darkOrangeBrand{
    color: #d9a317;
}
.details-product .btn-dtl-product{
    padding: 10px;
}
.details-product{
    margin-bottom: 10px;
}
.details-product .btn-dtl-product{
    width: 100%;
}
.container-cart-dtl-product .pre-text{
    font-size: 18px;
    letter-spacing: 1.1px;
    word-spacing: 1px;
}
.container-cart-button button{
    border-radius: 5px;
    margin: 10px 0;
    width: 90%;
}
.separetor-cart-summary {
    border-bottom: 1px solid rgba(55, 59, 62, 0.5);
}
.container-cart-total strong{
    padding: 15px 0 15px 0;
    font-size: 17px;
}
.container-cart-total,
.container-cart-summery .card-body,
.container-cart-product {
    padding: 10px;
}
.nota{
}
.brd-brand{
    border: 1px solid #FCC018;
}
.btn-brand{
    background-color: rgba(55, 59, 62, 0.9);
    font-size: 17px;
    color: #FCC018;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.btn-brand:hover{
    background-color: #FCC018;
    color: rgba(55, 59, 62, 0.9);
}
.container-product .content p{
    font-size: 18px;
}
.bg-darkLight{
    background-color: rgba(55, 59, 62, 0.85);
}
.container-product .content .description-content{
    width: 300px;
    min-height: 70px;
}
.container-product h2{
    font-size: 32px;
    margin-bottom: 15px;
}
.container-img-product .img img{
    float: left;
    border: none;
    border-radius: 0;
    width:  600px;
    height: 500px;
    object-fit: cover;
}
.container-product .content{
    padding-left: 20px;
}
.block-products .content p{
    font-size: 17px;
}
.block-products .content h3{
    font-size: 20px;
}
.block-products .content{
    padding: 8px 10px;
}
.block-products img{
    width: 240px;
    height: 200px;
}
.block-products .img img{
    float: left;
    border: none;
    border-radius: 0;
    width:  240px;
    height: 200px;
    object-fit: cover;
}
.block-products{
    height: 300px;
    width: 240px;
    border-radius: 10px;
    background-color: rgba(55, 59, 62, 1);
    transition: all 0.15s ease-in-out;
}
.block-products:hover {
    background-color: rgba(55, 59, 62, 0.9);
}
.container-products, .container-products:hover{
    text-decoration: none;
}
.container-category .img img{
    float: left;
    border: none;
    border-radius: 0;
    width:  150px;
    height: 215px;
    object-fit: cover;
}
.container-category .row .content a{
    color: #FCC018;
    font-weight: 500;
    padding: 5px 6px;
    border: 1px solid #FCC018;
    transition: all 0.15s ease-in-out;
}
.container-category .row .content a:hover{
    color: #373B3E;
    background-color: #FCC018;
    text-decoration: none;
}
.container-category .row .content p{
    height: 110px;
}
.container-category .row .content h2{
    font-size: 24px;
}
.container-category .row .content{
    width: 150px;
    padding: 5px;
}
.container-category .row .col-category{
    width: 150px;
    height: 215px;
}
.container-category{
    background-color: #373B3E;
    border-radius: 10px;
}
.linkCrud li{
    margin-left: 20px;
    margin-right: 20px;
}
.linkCrud li a{
    color: lightslategrey;
}
.linkCrud li:hover a{
    color: #212529;
}
.separetorCrud{
    border: 1px solid  rgba(33, 37, 41, 0.5);
}
.admin-container h1{
    color: #FCC018;
    margin-bottom: 10px;
}
.iconAdd{
    font-size: 200px;
}
.admin-container p{
    width: 70%;
    margin: auto;
    font-size: 18px;
}
.container-Crud{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 30px;
}
.container-Crud .card-crud{
    position: relative;
    height: 250px;
    background-color: rgba(33, 37, 41, 0.8);
    display: flex;
    width: 30%;
    margin: 30px 0;
}
.container-Crud .card-crud .iconBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.container-Crud .card-crud .iconBx .icon{
    color: #edf0f1;
    font-size: 100px;
    transition: 0.5s ease-in-out;
}
.container-Crud .card-crud:hover .iconBx .icon{
    color: #edf0f1;
    font-size: 75px;
}
.container-Crud .card-crud:hover .iconBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-color: #FCC018;
}
.container-Crud .card-crud .iconBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}
.container-Crud .card-crud .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
}
.container-Crud .card-crud .content h3{
    margin-bottom: 20px;
    font-size: 24px;
    color: #FCC018;
    letter-spacing: 1.1px;
}
.container-Crud .card-crud .content .body-content{
    margin-left: 10px;
}
.container-Crud .card-crud .content .body-content .col-auto a{
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding-bottom: 10px;
    transition: 0.15s ease-in-out;
}
.container-Crud .card-crud .content .body-content .col-auto .icon{
    font-size: 21px;
    color: #edf0f1;
}
.container-Crud .card-crud .content .body-content .col-auto:hover a{
    color: #FCC018;
}
.title-category{
    background-color: rgb(52, 58, 64);
    padding: 15px;
}
.title-category h2{
    color: #FCC018;
}
.title-category p {
    color: #edf0f1;
    font-size: 17px;
}
.bg-orangeBrand{
    background-color: #FCC018;
}
.text-orangeBrand{
    color: #FCC018;
}
.table-UserManagement{
    border: 1px solid #212529;
}
.table-UserManagement thead tr{
    background-color: #FCC018;
}
.table-UserManagement thead tr th{
    border-top: 1px solid #212529;
    border-bottom: 2px solid #212529;
}
.dashboard-body p{
    font-size: 14px;
}
.icon-dash{
    color: white;
    font-size: 38px;
    margin: 5px;
    transition: all 0.15s ease-in;
}
.dashboard-body p{
    font-size: 18px;
    letter-spacing: 1px;
}
.dashboard-body .dash-priv .col{
    background-color: #212529;
    border-radius: 8px;
    margin: 10px;
    padding: 12px;
    transition: all 0.15s ease-in;
}
.dashboard-body .dash-priv .col:hover .icon-dash{
    color: #FCC018;
}
.dashboard-body .dash-priv .col:hover{
    background-color: rgba(33, 37, 41, 0.9);
}
.dashboard-body .dash-priv .col h3{
    color: #FCC018;
    font-weight: 500;
}
.dashboard-body .dash-priv .col p{
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}
.dashboard-header{
    padding: 5px;
    word-spacing: 1.2px;
}
.dashboard-header h1{
    color: #FCC018;
    letter-spacing: 1px;
}
.brand-halfpage{
    background: linear-gradient(135deg, rgba(33, 37, 41, 0.3), #212529);
    text-align: center;
}
.brand-halfpage .box{
    margin-top: 20%;
}
.login-registretionRemind{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.05%;
}
.login-registretionRemind .text{
    font-size: 18px;
    margin: 10px 10px 0 0;
}
.login-form-input{
    color: #212529;
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px solid #edf0f1;
    transition: all 0.15s ease-in;
}
.separator-form{
    width: 100%;
    border-bottom: 1px solid #FFF;
}
.login-form-input:focus{
    background-color: rgba(237, 240, 241, 0.3);
    border-bottom: 2px solid darkorange;
}
.login-form-box{
    margin: 20px;
}
.register-form-box{
    margin: 11.3px;
}
.login-form-txt{
    font-size: 17px;
}
.form-header{
    padding: 5px 0 5px 0;
    text-align: center;
    color: #212529;
}
.form-body{
    padding: 4rem 0 4rem 0;
}
.form-box{
    border-left: 2px solid #212529;
    background-color: #FCC018;
    height: 100%;
}
.dropdown-menu{
    background-color: #4D5156;
}
.dropdown-header{
    text-decoration: none;
    color: #FCC018;
}
a.dropdown-header:hover{
    text-decoration: none;
    color: rgba(252, 192, 24, 0.8);
}
.dropdown-item{
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid transparent;
}
.dropdown-item:hover{
    color: #FFf;
    background-color: transparent;
}
.dropdown-divider{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.small-screen{
    display: none;
}
.ctg-drpdwn-576{
    display: none;
}
.active{
    color:#fff;
    text-decoration:none;
    background-color:#3490dc
}
.dash-priv .col-dash{
    cursor: not-allowed;
}
body{
    font-family: 'Barlow', sans-serif;
    background-color: ivory;
}
.searchBar{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    background-color: transparent;
    color: #F3F5F6;
    transition: all 100ms ease-in;
}
.searchBar:focus{
    padding: 0 20px 0 20px;
    border-bottom: 2px solid #FCC018;
    background-color: transparent;
    color: #F3F5F6;
}
.btn-outline-warning{
    border-color: #FCC018;
    color: #FCC018;
}
.btn-outline-warning:hover{
    color: #212529;
    background: #FCC018;
}
.icon-hover{
    margin: 0 20px 0 20px;
    transition: all 0.2s ease-in;
}
.nav-link:hover .icon-hover{
    color: #FCC018;
}
.image-bg{
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.crs-button-move{
    padding: 5px 5px 0 3px;
    background-color: #212529;
    border: .1em solid #212529;
    border-radius: 10px;
}
.carousel-caption{
    padding: 20px;
    width: 30%;
    margin: auto;
    background-color: rgba(30, 37, 41, .85);
    opacity: 100%;
    border-radius: 20px;
}
.carousel-caption h3{
    color: #FCC018;
}
.carousel-caption p{
    font-size: 17px;
}
.mr-left-topctg{
    margin-left: 55px;
}
.topCtgs-container{
    width: 280px;
    height: 400px;
}
.topCtgs-container .box{
    position: relative;
    width: 280px;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
}
.topCtgs-container .box img{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    clip-path: circle(400px at center 100px);
    transition: all 0.7s ease-in;
}
.topCtgs-container .box:hover img {
    clip-path: circle(80px at center 100px);
}
.topCtgs-container .box .content
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.topCtgs-container .box .content h2
{
    margin: 0;
    padding: 0;
}
.topCtgs-container .box .content a
{
    cursor: pointer;
    text-decoration: none;
    color: #FCC018;
    padding: 5px;
    border: 1px solid #FCC018;
    display: inline-block;
    transition: all 0.1s ease-in;
}
.topCtgs-container .box:hover .content a:hover{
    color: #212529;
    background-color: #FCC018;
}
.topCtgs-container .box .content h2,
.topCtgs-container .box .content p,
.topCtgs-container .box .content a
{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.topCtgs-container .box:hover .content h2
{
    color: #FCC018;
    margin-bottom: 5px;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.topCtgs-container .box:hover .content p
{
    color: #edf0f1;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
}
.topCtgs-container .box:hover .content a
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.9s;
}
.header-topCtg h2{
    color: #FCC018;
}
.header-topCtg p {
    color: #edf0f1;
    font-size: 17px;
}
.separetor{
    border: 1px solid #ced4da;
}
.img-bx{
    width: 280px;
    height: 400px;
}
@media screen and (max-width: 1200px) {
    .img-metodPayment img{
        width: 90px;
    }
    .col-s {
        flex:0 0 33.3333333333%;
        max-width:33.3333333333%
    }
    .container-img-product .img img{
        float: left;
        border: none;
        border-radius: 0;
        width:  100%;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 1024px) {
    .mr-left-topctg{
        margin-left: 10px;
    }
}
@media screen and (max-width: 1000px) {
    .container-category .img img{
        float: left;
        border: none;
        border-radius: 0;
        width:  150px;
        height: 200px;
        object-fit: cover;
    }
    .container-Crud{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container-Crud .card-crud{
        width: 400px;
    }
    .img-bx {
        width: 195px;
        height: 279px;
    }

    .topCtgs-container {
        width: 195px;
        height: 279px;
    }

    .topCtgs-container .box {
        width: 195px;
        height: 279px;
    }

    .topCtgs-container .box .content {
        height: 60%;
        padding: 10px;
    }

    .carousel-caption {
        width: 40%;
        margin-bottom: 20px;
    }

    .carousel-indicators li {
        background: rgba(33, 37, 41, 0.5);
    }

    .carousel-indicators .active {
        background: rgba(33, 37, 41, 0.2);
    }

    .topCtgs-container .box:hover img {
        clip-path: circle(40px at center 70px);
    }

    .topCtgs-container .box .content h2 {
        font-size: 17px;
    }

    .topCtgs-container .box .content p {
        font-size: 13px;
    }

    .topCtgs-container .box .content a {
        padding: 3px;
        font-size: 14px;
    }
}
@media screen and (max-width: 995px) {
    .col-s {
        flex:0 0 50%;
        max-width:50%;
    }
}
@media screen and (max-width: 950px) {
    .col-cart-prd {
        flex:0 0 100%;
        max-width:100%;
    }
    .col-cart-prd .img img{
        margin-left: 20%;
    }
    .container-checkout .col-checkout{
        flex:0 0 100%;
        max-width:100%;
    }
}
@media screen and (max-width: 768px) {
    .dash-priv .col-dash{
        flex:0 0 100%;
        max-width:100%
    }
    .img-metodPayment img{
        display: none;
    }
    .container-checkout .container-title{
        flex:0 0 100%;
        max-width:100%
    }
    .container-checkout .container-title h4{
        font-size: 20px;
    }
    .container-category .row .content h2 {
        font-size: 18px;
    }
    .container-Crud .card-crud{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .container-Crud .card-crud .iconBx{
        position: relative;
    }
    .container-Crud .card-crud .iconBx,
    .container-Crud .card-crud:hover .iconBx{
        width: 100%;
        height: 200px;
        left: 0;
    }
    .container-Crud .card-crud .iconBx .icon,
    .container-Crud .card-crud:hover .iconBx .icon{
        max-width: 100px;
    }
    .container-Crud .card-crud .content{
        position: relative;
        width: 100%;
    }
    .brand-halfpage{
        display: none;
    }
    .img-bx{
        width: 151px;
        height: 215px;
    }
    .topCtgs-container{
        width: 151px;
        height: 215px;
    }
    .topCtgs-container .box .content p{
        display: none;
    }
    .topCtgs-container .box .content {
        height: 50%;
        padding: 10px;
    }
    .topCtgs-container .box{
        overflow: visible;
        width: 151px;
        height: 215px;
    }
    .topCtgs-container .box img {
        clip-path: circle(40px at center 60px);
    }
    .topCtgs-container .box:hover img {
        clip-path: circle(40px at center 60px);
    }
    .topCtgs-container .box:hover .content h2,
    .topCtgs-container .box:hover .content p,
    .topCtgs-container .box:hover .content a{
        margin-bottom: 10px;
        opacity: 1;
        transform: none;
        transition-delay: 0s;
    }
    .topCtgs-container .box .content h2,
    .topCtgs-container .box .content p,
    .topCtgs-container .box .content a
    {
        margin-bottom: 10px;
        opacity: 1;
        transform: none;
    }
    .topCtgs-container .box .content h2{
        color: #FCC018;
        font-size: 18px;
    }
}
@media screen and (max-width: 720px) {
    .small-screen{
        display: block;
    }
    .big-screen{
        display: none;
    }
    .icon-hover{
        margin: 0 10px 0 10px;
        transition: all 0.2s ease-in;
    }
}
@media screen and (max-width: 575px){
    .col-s,
    .col-rsp-sm{
        flex:0 0 100%;
        max-width:100%;
    }
    .col-category img{
        float: left;
        border: none;
        border-radius: 0;
        width:  120px;
        height: 215px;
        object-fit: cover;
    }
    .col-s{
        margin: 0 0 0 45%;
    }
    .small-screen{
        display: none;
    }
    .big-screen{
        display: block;
    }
    .ctg-drpdwn-576{
        display: block;
    }
    .ctg-drpdwn{
        display: none;
    }
    .searchBar{
        width: 85%;
        margin-right: 20px;
    }
    .img-bx {
        width: 280px;
        height: 400px;
    }

    .topCtgs-container {
        width: 280px;
        height: 400px;
        margin: auto auto 15px auto;
    }
    .topCtgs-container .box {
        width: 280px;
        height: 400px;
    }
    .topCtgs-container .box img {
        clip-path: circle(80px at center 100px);
    }
    .topCtgs-container .box:hover img {
        clip-path: circle(80px at center 100px);
    }
    .navbar-nav{
        flex-direction: unset;
        justify-content: space-around;
    }
    .topCtgs-container .box .content p{
        color: #edf0f1;
        display: block;
        font-size: 15px;
    }
    .topCtgs-container .box .content h2{
        font-size: 20px;
    }
    .carousel-caption h3{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 15px;
    }
}